::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #807d68;
    border-radius: 5px;
}

body {
    background-color: #e0d9b8;
    background-image: url("../assets/images/grid.svg");
    background-size: 50px 50px;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    border-block: 2px solid black;
    margin-inline: 2px;
}

.evidence-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 210px;
    margin: 15px auto;
    width: 100%;
    max-width: 275px;
}

.chk-evidence {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
}

.chk-evidence img {
    width: 35px;
}
.chk-evidence p {
    display: block;
    font-size: 16px;
}

.ghost-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    max-height: 366px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ghost-list h2 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0 5px;
}

.lbl-ghost {
    border-block: 1px solid black;
    height: 120px;
    flex-shrink: 0;
}

.lbl-ghost.ghost-no {
    display: none;
}

.lbl-ghost .ghost-evidence {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-weight: 600;
}
.ghost-evidence p {
    padding-inline: 7px;
}

.ghost-evidence p:nth-child(1) {
    text-align: right;
}
.ghost-evidence p:nth-child(2) {
    text-align: center;
    border-inline: 2px solid black;
}
.ghost-evidence p:nth-child(3) {
    text-align: left;
}

.evidence-emf-level-5 {
    color: rgb(221, 13, 13);
}
.evidence-ultraviolet {
    color: rgb(88, 6, 221);
}
.evidence-ghost-writing {
    color: rgb(107, 59, 0);
}
.evidence-freezing {
    color: rgb(30, 218, 252);
}
.evidence-freezing {
    color: rgb(0, 113, 133);
}
.evidence-dots {
    color: rgb(14, 150, 32);
}
.evidence-ghost-orbs {
    color: rgb(87, 87, 87);
}
.evidence-spirit-box {
    color: rgb(136, 134, 2);
}

#reset {
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
    padding: 5px;
    display: block;
}

@media only screen and (min-width: 375px) {
    .lbl-ghost .ghost-evidence {
        display: grid;
        grid-template-columns: repeat(3, 120px);
        align-items: center;
    }
}

@media only screen and (min-width: 550px) {
    .main {
        flex-direction: row;
        justify-self: center;
    }

    .evidence-list {
        margin-inline: 10px;
        border-right: 2px solid black;
    }

    .ghost-list {
        height: 210px;
        border: none;
        margin-block: 15px;
    }
}
