.evidence-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 170px;
}

.ghost-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.ghost-list h2 {
    display: block;
    width: 100%;
    text-align: center;
}

.chk-evidence {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.chk-evidence img {
    width: 30px;
}

.lbl-ghost.ghost-no {
    display: none;
}
